#my-portrait {
  width: 300px;
}


#introduction {
  background-color: #c5c9bb;
  padding: 20px;
  margin: 10px;
  border: solid 2px blue;
}


#schedule-list {
  background-color: #c5c9bb;
  padding: 20px;
  margin: 10px;
  border: solid 2px blue;
}
