
body {
  background-color: tan;
}


#rocketship {
  animation-duration: 8s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 120%;
  }

  to {
    margin-left: -20%;
  }
}
