
body {
  background-color: tan;
  overflow: hidden;
}

}

.planebox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.plane{
  flex-shrink: 0;
  width: 300px;
  height: 100px;
  background-color: black;
}

.message {
  flex-shrink: 0;
  min-width: 200px;
  height: 70px;
  background-color: blue;
  border-color: purple;
  border-style: solid;
  border-width: 15px;
}

.planebox {
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 150vw;
  }

  to {
    margin-left: -100vw;
  }
}

.outside-browser {
  overflow: hidden;
  width: 400vw;
  height: 300px;
}
